* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* header styles */
header {
    background-image: url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 297px;
    text-align: center;

}

.header-title {
    font-weight: 800;
    font-size: 55px;
    color: #ffffff;
    margin-bottom: 35px;

}

.header-description {
    color: #ffffff;
    margin-bottom: 35px;

}

.uni-btn {
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    color: #ffffff;
    background-color: #ff5050;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;

}

.uni-btn:hover {
    background-color: lightcoral;
}

/* Donate Today Section Styles */

.donate-container {
    margin: 200px 297px;
    text-align: center;

}

.donate-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;

}

.donate-description {
    color: #727272;
    margin-bottom: 30px;

}

.donate-today {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;


}

.donate-amount {
    background-color: #f3f3f3;
    width: 130px;
    height: 130px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    color: #727272;
}

.donate-amount:hover{
    border: 2px solid #ff5050;
    background-color: rgb(255, 219, 225);
    color: #ff5050;
    cursor: pointer;
}

.otheramount {}

.donate-container input[type=number] {
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    /* display: block; */
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 20px;

}

.donate-container input[type=number]:focus{
    outline: none;
}
.donate-container input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}